$background-color: #f5f5f5;
$primary-color: #16697a;
$primary-color--dark: #003e4e;
$primary-color--light: #4f97a9;
$primary-color: #e5ed5d;
$primary-color--dark: #b0bb28;
$primary-color--light: #ffff8f;
$text-light: #eaeaea;
$text-dark: #141414;
